body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: rgb(207, 194, 16);
  font-family: cursive;
}
.form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
  border-radius: 30px;
  margin: 10px;
}
.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border: solid 4px green;
  color: green;
}
.input::placeholder {
  color: lightgrey;
  font-family: cursive;
}
.btn {
  background-color: green;
  color: white;
  border: none;
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn:hover{
     filter: brightness(0.7);
}
.score{
     color: green;
     text-align: right;
     
}
